@use "../../styles/partials/mixings.scss" as *;

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include desktop{
    flex-direction: row;
    align-items: flex-start;
    margin: 2rem 0 25rem 10rem;
    flex-direction: row;
  }
  
  &__about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include desktop {margin-bottom: 0rem;
      margin-top: 0;
      margin-right: 2rem;
      width: 45%;
      justify-content: flex-start;
    align-items: center;
    }
  }
  &__cards-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include tablet{
      width:80%;
      flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    };
    
  }
  &__main {
    flex: 0 0 auto;
    width: 20rem;
    height: 32rem;
    border-radius: 8px;
    background-color: #f0f0f0;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include desktop{
      height: 35rem;
      margin-right: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
   
  }
  &__img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 20rem;
    height: 15rem;
    margin-bottom: 1rem;
  }
  &__heading {
    width: 90%;
    margin-top: 1rem;
  }
  &__para {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
  }
  &__aboutus-para {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include tablet {
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
    }
  }
  &__aboutus-heading {
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
  }
}
