@use "../../styles/partials/mixings.scss" as *;

.loyalty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(48, 45, 45);;
  @include desktop{
    align-items: flex-start;
    padding: 2rem 0 25rem 10rem;
    
  }
  
  &__about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include desktop {margin-bottom: 0rem;
      margin-top: 0;
      margin-right: 2rem;
      width: 90%;
    
    align-items: center;
    }
  }
  &__loyaltys-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include tablet{
        margin-top: 4rem;
      width:90%;
      flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    };
    
  }
  &__main {
    flex: 0 0 auto;
    width: 20rem;
    height: 32rem;
    border-radius: 8px;
    background-color: #f0f0f0;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    @include tablet{
      margin-right: 1rem;
      width: 18rem;
    height: 32rem;
    }
    @include desktop{
      height: 35rem;
      margin-right: 10px;
      width: 20rem;
  
    }
   
  }
  &__img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 20rem;
    height: 15rem;
    margin-bottom: 1rem;
    @include tablet{
      width: 18rem;
    }
    @include desktop{
      width: 20rem;
    }
  }
  &__heading {
    width: 100%;
    margin-top: 1rem;
    word-wrap: break-word; // Ensures long words wrap correctly
    white-space: pre-wrap;
    text-align: center;
    @include tablet{
      width: 80%;
    }
  }
  &__loyaltys-info-wrap{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
  }
  &__para {
    width: 100%;
    text-align: center;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    color: black;
    margin: 1rem 0;
    word-wrap: break-word; // Ensures long words wrap correctly
    white-space: pre-wrap;
    @include tablet{
      max-width: 100%;
    }
  }
  &__aboutus-para {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include tablet {
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
    }
  }
  &__aboutus-heading {
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
  }
  &__open-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    flex-shrink: 1;

    flex-wrap: wrap;
    color: black;
    margin: 1rem 0;
    word-wrap: break-word; // Ensures long words wrap correctly
    white-space: pre-wrap;
    @include tablet{
      max-width: 100%;
    }
  }
  &__close-info{
    display: none;
    width: 100%;
    text-align: center;
    flex-shrink: 1;

    flex-wrap: wrap;
    color: black;
    margin: 1rem 0;
    word-wrap: break-word; // Ensures long words wrap correctly
    white-space: pre-wrap;
    @include tablet{
      max-width: 100%;
    }
  }
  &__button {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 0.8rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 5px;
    width: 6rem;
  }
}
